<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-8 offset-md-2">
<div class ="w-75 p-2 m-3" style ="background-color:white;">
<h2>ようこそ、ながのCAKEへ！</h2>
</div>

<p>このサイトは、ケーキ販売のECサイトです。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要です.</p>

<h2>新着商品</h2>
