<thead>
    <tr>
        <td>商品一覧</td>
        <td>全件</td>
    </tr>
</thead>

<tbody>
    <% @items.each do |item| %>
    <tr>
        <p><%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %></p>
        <p><%= item.name %></p>
        <p>¥<%= item.price %></p>
    </tr>
    <% end %>
    <%= paginate @items %>
</tbody>
